<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form name="login" action="/login" method="GET">
      <div>
        <label for="name">Nombre y Apellido</label>
        <input name="name" type="text" />
      </div>
      <div>
        <label for="pass">Contraseña</label>
        <input name="pass" type="password" />
      </div>
      <button type="submit"><a href="/"> Sesion</a></button>
    </form>
  </body>
</html>
